<h1>Customer#index</h1>
<p>Find me in app/views/customer/index.html.erb</p>
table>
    <thead>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
<% @customer.each do |user| %>
    <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
    </tr>
<% end %>
    </tbody>
</table>
